<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogInController</servlet-name>
        <servlet-class>Security.LogInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchantUpdate</servlet-name>
        <servlet-class>Transactions.MerchantUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersDatatables</servlet-name>
        <servlet-class>Datatables.UsersDatatables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMaintenanceUpdate</servlet-name>
        <servlet-class>Masterfiles.UserMaintenanceUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserStatusUpdate</servlet-name>
        <servlet-class>Masterfiles.UserStatusUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>Security.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PendingMerchantsDatatables</servlet-name>
        <servlet-class>Datatables.PendingMerchantsDatatables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectedDisapprovedMerchantDatatables</servlet-name>
        <servlet-class>Datatables.RejectedDisapprovedMerchantDatatables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovedMerchantsDatatables</servlet-name>
        <servlet-class>Datatables.ApprovedMerchantsDatatables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchantsTransactionsDatatables</servlet-name>
        <servlet-class>Datatables.MerchantsTransactionsDatatables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuditLogsDatatables</servlet-name>
        <servlet-class>Datatables.AuditLogsDatatables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>Security.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>Security.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchantClassDatatables</servlet-name>
        <servlet-class>Datatables.MerchantClassDatatables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnBoardTypeDatatables</servlet-name>
        <servlet-class>Datatables.OnBoardTypeDatatables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RateTypeDatatables</servlet-name>
        <servlet-class>Datatables.RateTypeDatatables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchantTypeDatatables</servlet-name>
        <servlet-class>Datatables.MerchantTypeDatatables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PieChartTransactions</servlet-name>
        <servlet-class>Graphs.PieChartTransactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AreaChartTransactions</servlet-name>
        <servlet-class>Graphs.AreaChartTransactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Security.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCurrentPassword</servlet-name>
        <servlet-class>Security.CheckCurrentPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirector</servlet-name>
        <servlet-class>Tools.Redirector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchantListP2M</servlet-name>
        <servlet-class>Redirector.MerchantListP2M</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceMerchantClass</servlet-name>
        <servlet-class>Redirector.MaintenanceMerchantClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceMerchantType</servlet-name>
        <servlet-class>Redirector.MaintenanceMerchantType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceOnboardType</servlet-name>
        <servlet-class>Redirector.MaintenanceOnboardType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceRateType</servlet-name>
        <servlet-class>Redirector.MaintenanceRateType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusinessType</servlet-name>
        <servlet-class>Redirector.BusinessType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchantProfile</servlet-name>
        <servlet-class>Redirector.MerchantProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfo</servlet-name>
        <servlet-class>Redirector.UserInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchantFiling</servlet-name>
        <servlet-class>Redirector.MerchantFiling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchantFilingP2M</servlet-name>
        <servlet-class>Redirector.MerchantFilingP2M</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PendingMerchant</servlet-name>
        <servlet-class>Redirector.PendingMerchant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectedDisapprovedMerchant</servlet-name>
        <servlet-class>Redirector.RejectedDisapprovedMerchant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMaintenance</servlet-name>
        <servlet-class>Maintenance.UpdateMaintenance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusinessTypeDatatables</servlet-name>
        <servlet-class>Datatables.BusinessTypeDatatables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceBusinessType</servlet-name>
        <servlet-class>Redirector.MaintenanceBusinessType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestEmailSending</servlet-name>
        <servlet-class>TestEmailSending</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAttachements</servlet-name>
        <servlet-class>Transactions.UploadAttachements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMaintenanceUpdates</servlet-name>
        <servlet-class>Masterfiles.UserMaintenanceUpdates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Headers</servlet-name>
        <servlet-class>Security.Headers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>Security.ForgotPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResgisterSec</servlet-name>
        <servlet-class>Security.ResgisterSec</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogInController</servlet-name>
        <url-pattern>/LogInController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchantUpdate</servlet-name>
        <url-pattern>/MerchantUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersDatatables</servlet-name>
        <url-pattern>/UsersDatatables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMaintenanceUpdate</servlet-name>
        <url-pattern>/UserMaintenanceUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserStatusUpdate</servlet-name>
        <url-pattern>/UserStatusUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PendingMerchantsDatatables</servlet-name>
        <url-pattern>/PendingMerchantsDatatables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectedDisapprovedMerchantDatatables</servlet-name>
        <url-pattern>/RejectedDisapprovedMerchantDatatables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovedMerchantsDatatables</servlet-name>
        <url-pattern>/ApprovedMerchantsDatatables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchantsTransactionsDatatables</servlet-name>
        <url-pattern>/MerchantsTransactionsDatatables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuditLogsDatatables</servlet-name>
        <url-pattern>/AuditLogsDatatables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchantClassDatatables</servlet-name>
        <url-pattern>/MerchantClassDatatables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnBoardTypeDatatables</servlet-name>
        <url-pattern>/OnBoardTypeDatatables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateTypeDatatables</servlet-name>
        <url-pattern>/RateTypeDatatables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchantTypeDatatables</servlet-name>
        <url-pattern>/MerchantTypeDatatables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PieChartTransactions</servlet-name>
        <url-pattern>/PieChartTransactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AreaChartTransactions</servlet-name>
        <url-pattern>/AreaChartTransactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCurrentPassword</servlet-name>
        <url-pattern>/CheckCurrentPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirector</servlet-name>
        <url-pattern>/Redirector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchantListP2M</servlet-name>
        <url-pattern>/MerchantListP2M</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceMerchantClass</servlet-name>
        <url-pattern>/MaintenanceMerchantClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceMerchantType</servlet-name>
        <url-pattern>/MaintenanceMerchantType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceOnboardType</servlet-name>
        <url-pattern>/MaintenanceOnboardType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceRateType</servlet-name>
        <url-pattern>/MaintenanceRateType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusinessType</servlet-name>
        <url-pattern>/BusinessType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchantProfile</servlet-name>
        <url-pattern>/MerchantProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfo</servlet-name>
        <url-pattern>/UserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchantFiling</servlet-name>
        <url-pattern>/MerchantFiling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchantFilingP2M</servlet-name>
        <url-pattern>/MerchantFilingP2M</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PendingMerchant</servlet-name>
        <url-pattern>/PendingMerchant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectedDisapprovedMerchant</servlet-name>
        <url-pattern>/RejectedDisapprovedMerchant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMaintenance</servlet-name>
        <url-pattern>/UpdateMaintenance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusinessTypeDatatables</servlet-name>
        <url-pattern>/BusinessTypeDatatables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceBusinessType</servlet-name>
        <url-pattern>/MaintenanceBusinessType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestEmailSending</servlet-name>
        <url-pattern>/TestEmailSending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAttachements</servlet-name>
        <url-pattern>/UploadAttachements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMaintenanceUpdates</servlet-name>
        <url-pattern>/UserMaintenanceUpdates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Headers</servlet-name>
        <url-pattern>/Headers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/ForgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResgisterSec</servlet-name>
        <url-pattern>/ResgisterSec</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
